<h2 style="font-weight: bold; padding-top: 10px;color:white;"><%= @blog_post.title %></h2>
<br/>

<div>
  <h4 style="color:white;"><%= @blog_post.content %></h4>
</div>

<br/>
<br/>

<h5><label for="likes" style="padding: 5px 0px;color:white;">Likes: </label>
<span id="likes" style="color: white;">
  <%= @blog_post.likes_count.to_s %>
</span>
<span>
  <% unless(@like.nil?) %>
    <%=button_to "Unlike", like_path(id: @like.id), :method => :delete,
    :style => "background-color: crimson; border-radius: 5px; margin: 10px; padding: 5px; color: white; text-decoration: none;" %>
  <% else %>
    <%=button_to "Like", likes_path(blog_post_id: @blog_post.id),
      :style => "background-color: lightgreen; border-radius: 5px; margin: 10px; padding: 5px; color: black; text-decoration: none;" %>
  <% end %>
</span>
</h5>

<br/>

<h5><label for="Comments" style="padding: 5px 0px;color:white;">Comments: <%= @comments.count %></label>
<ul class="list-group">
  <% @comments.each do |comment| %>
    <h6>
      <li class="list-group-item d-flex justify-content-between align-items-center", style="word-break: break-word">
        <span><%= comment.content %> <b>--<%= comment.user_email %></b></span>
        <span>
          <% if user_signed_in? %>
            <% if comment.user_id == current_user.id %>
              <%=button_to "Delete", comment_path(id: comment.id), :method => :delete, :class => "btn btn-secondary mr-3 float-right" %>
            <% end %>
          <% end %>
        </span>
      </li>
    </h6>
  <% end %>
</ul>
<br/>
<%=link_to "Add Comment", new_comment_path(blog_post_id: @blog_post.id),
  :style => "background-color: lightgreen; border-radius: 5px; margin: 10px; padding: 5px; color: white; text-decoration: none;" %>
</h5>

<br/>

<% if user_signed_in? %>
  <% if @blog_post.user_id == current_user.id %>
   <div class="row float-right">
      <%=link_to "Edit", edit_blog_post_path(id: @blog_post.id), :class => "btn btn-primary mr-3" %>
      <%=button_to "Delete", blog_post_path(id: @blog_post.id), :method => :delete, :class => "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
